@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');

.sidebar-heading a {
    font-weight: 500;
    line-height: 1.3em;
    text-transform: uppercase;
}

body {
    padding: 0 2em;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

.box-masonry {
     box-shadow: none; 
} 

.box-masonry-text h4 a {
    font-size: .9em;
}

.box-masonry-description p {
    font-size: .3em;
}

li {
    font-size: 1em;
    font-weight: 400
}



@media (min-width: 1200px) {
    .col-lg-8 {
        width: 80%;
    }
    .sidebar-heading a {
        font-size: 1.3em;
    }
}