.sidebar-heading a {
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
}

body {
    background-color: white;
}

.box-masonry-text h4 a {
    font-size: .9em;
}

.box-masonry-description p {
    font-size: .5em;
}
